*
!.dockerignore
!pom.xml
!novel-common/
!novel-common/pom.xml
!novel-common/src/
!novel-common/src/**
!novel-front/
!novel-front/pom.xml
!novel-front/src/
!novel-front/src/**
!novel-admin/
!novel-admin/pom.xml
!novel-crawl/
!novel-crawl/pom.xml
!templates/
!templates/**
!deploy/
!deploy/novel-front/
!deploy/novel-front/Dockerfile
!deploy/novel-front/entrypoint.sh
!deploy/shardingsphere/
!deploy/shardingsphere/shardingsphere-jdbc.yml.template
**/src/main/resources/application*-dev.yml
**/src/main/build/config/shardingsphere-jdbc.yml
