<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>找回密码</title>
    <div th:include="mobile/common/css :: css"></div>
</head>
<body id="read">
<div style="height:50px;line-height:50px;text-align:center" class="layui-header header header-doc layui-bg-cyan"><b class="layui-icon">找回密码</b></div>
<form id="resetForm" style="min-height:500px;padding-top:30px;padding-right:20px" class="layui-form" action="" onsubmit="return false;">
    <div class="layui-form-item"><label class="layui-form-label">邮箱</label><div class="layui-input-inline">
        <input name="email" type="email" id="resetEmail" maxlength="254" autocomplete="email" placeholder="请输入邮箱" class="layui-input" />
    </div></div>
    <div class="layui-form-item"><label class="layui-form-label">验证码</label><div class="layui-input-inline">
        <input name="code" type="text" id="resetCode" maxlength="6" inputmode="numeric" autocomplete="one-time-code"
               placeholder="6位邮件验证码" class="layui-input" />
        <input type="button" id="resetSendCode" value="发送验证码" class="layui-btn layui-btn-primary" />
    </div></div>
    <div class="layui-form-item"><label class="layui-form-label">新密码</label><div class="layui-input-inline">
        <input name="password" type="password" id="resetPassword" maxlength="64" autocomplete="new-password"
               placeholder="新密码（8-64字符）" class="layui-input" />
    </div></div>
    <div class="layui-form-item"><label class="layui-form-label">确认密码</label><div class="layui-input-inline">
        <input name="confirmPassword" type="password" id="resetConfirmPassword" maxlength="64" autocomplete="new-password"
               placeholder="再次输入新密码" class="layui-input" />
    </div></div>
    <div class="layui-form-item"><div class="layui-input-block">
        <input type="button" value="重置密码" id="btnResetPassword" class="layui-btn" />
        <a class="layui-btn layui-btn-primary" href="/user/login.html">返回登录</a>
    </div></div>
    <div class="layui-form-item"><div class="layui-input-block"><span id="resetError"></span></div></div>
</form>
<div th:replace="mobile/common/footer :: footer"></div>
<div th:replace="mobile/common/js :: js"></div>
<script type="text/javascript" src="/javascript/user.js"></script>
<script type="text/javascript">AuthPage.initPasswordReset();</script>
</body>
</html>
