<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common_head(~{::title},~{::meta},~{::link},~{})">
    <title th:text="'会员登录_'+${application.website.name}"></title>
    <meta name="keywords" th:content="'会员登录,个人中心,'+${application.website.name}+'小说'" />
    <meta name="description" th:content="${application.website.name}+'小说会员登录'" />
    <link rel="stylesheet" href="/css/user.css" />
</head>
<body>
<div th:replace="common/top :: top('')"></div>
<div class="main box_center cf"><div class="userBox cf">
    <div class="user_l"><form id="loginForm" action="" onsubmit="return false;">
        <h3 th:text="'登录'+${application.website.name}"></h3>
        <ul class="log_list">
            <li><span id="loginError"></span></li>
            <li><input name="loginAccount" type="text" id="loginAccount" maxlength="254" autocomplete="username"
                       placeholder="邮箱或历史手机号" class="s_input icon_name" /></li>
            <li><input name="password" type="password" id="loginPassword" maxlength="64" autocomplete="current-password"
                       placeholder="密码" class="s_input icon_key" /></li>
            <li id="imageCaptchaGroup" class="log_code cf" style="display:none;">
                <input name="imageCaptcha" type="text" id="imageCaptcha" maxlength="8" autocomplete="off"
                       placeholder="图片验证码" class="s_input icon_code" />
                <img id="imageCaptchaImage" class="code_pic" src="/file/getVerify" alt="点击刷新验证码" />
            </li>
            <li class="autologin cf">
                <label class="fl"><input id="autoLogin" type="checkbox" /><em>下次自动登录</em></label>
                <a class="fr" href="/user/forgot_password.html">忘记密码？</a>
            </li>
            <li><input type="button" value="登录" id="btnLogin" class="btn_red" /></li>
        </ul>
    </form></div>
    <div class="user_r"><p class="tit">还没有注册账号？</p><a href="/user/register.html" class="btn_ora_white">立即注册</a></div>
</div></div>
<div th:replace="common/footer :: footer"></div>
<div th:replace="common/js :: js"></div>
<script type="text/javascript" src="/javascript/user.js"></script>
<script type="text/javascript">AuthPage.initLogin();</script>
</body>
</html>
