<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common_head(~{::title},~{::meta},~{::link},~{})">
    <title th:text="'会员注册_'+${application.website.name}"></title>
    <meta name="keywords" th:content="'会员注册,个人中心,'+${application.website.name}+'小说'" />
    <meta name="description" th:content="${application.website.name}+'小说会员注册'" />
    <link rel="stylesheet" href="/css/user.css" />
</head>
<body>
<div th:replace="common/top :: top('')"></div>
<div class="main box_center cf"><div class="userBox cf">
    <div class="user_l"><form id="registerForm" action="" onsubmit="return false;">
        <h3 th:text="'注册'+${application.website.name}+'小说账号'"></h3>
        <ul class="log_list">
            <li><span id="registerError"></span></li>
            <li><input name="email" type="email" id="registerEmail" maxlength="254" autocomplete="email"
                       placeholder="邮箱" class="s_input icon_name" /></li>
            <li class="log_code cf">
                <input name="code" type="text" id="registerCode" maxlength="6" inputmode="numeric"
                       autocomplete="one-time-code" placeholder="6位邮件验证码" class="s_input icon_code" />
                <input type="button" id="registerSendCode" value="发送验证码" class="s_btn" />
            </li>
            <li><input name="password" type="password" id="registerPassword" maxlength="64"
                       autocomplete="new-password" placeholder="密码（8-64字符）" class="s_input icon_key" /></li>
            <li><input name="confirmPassword" type="password" id="registerConfirmPassword" maxlength="64"
                       autocomplete="new-password" placeholder="确认密码" class="s_input icon_key" /></li>
            <li><input type="button" value="注册" id="btnRegister" class="btn_red" /></li>
        </ul>
    </form></div>
    <div class="user_r"><p class="tit">已有账号？</p><a href="/user/login.html" class="btn_ora_white">立即登录</a></div>
</div></div>
<div th:replace="common/footer :: footer"></div>
<div th:replace="common/js :: js"></div>
<script type="text/javascript" src="/javascript/user.js"></script>
<script type="text/javascript">AuthPage.initRegister();</script>
</body>
</html>
