<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>登录</title>
    <div th:include="mobile/common/css :: css"></div>
</head>
<body id="read">
<div style="height:50px;line-height:50px;text-align:center" class="layui-header header header-doc layui-bg-cyan">
    <div style="width:10%;float:left;margin-left:10px"><a href="javascript:history.go(-1)"><i class="layui-icon">&#xe65c;</i></a></div>
    <b class="layui-icon">登录</b>
    <div style="width:10%;float:right;margin-right:10px"><a href="/"><i class="layui-icon">&#xe68e;</i></a></div>
</div>
<form id="loginForm" style="min-height:500px;padding-top:30px;padding-right:20px" class="layui-form" action="" onsubmit="return false;">
    <div class="layui-form-item"><label class="layui-form-label">账号</label><div class="layui-input-inline">
        <input name="loginAccount" type="text" id="loginAccount" maxlength="254" autocomplete="username"
               placeholder="邮箱或历史手机号" class="layui-input" />
    </div></div>
    <div class="layui-form-item"><label class="layui-form-label">密码</label><div class="layui-input-inline">
        <input name="password" type="password" id="loginPassword" maxlength="64" autocomplete="current-password"
               placeholder="请输入密码" class="layui-input" />
    </div></div>
    <div id="imageCaptchaGroup" class="layui-form-item" style="display:none;">
        <label class="layui-form-label">验证码</label><div class="layui-input-inline">
            <input name="imageCaptcha" type="text" id="imageCaptcha" maxlength="8" autocomplete="off"
                   placeholder="图片验证码" class="layui-input" />
            <img id="imageCaptchaImage" src="/file/getVerify" alt="点击刷新验证码" />
        </div>
    </div>
    <div class="layui-form-item"><div class="layui-input-block">
        <input id="autoLogin" type="checkbox" lay-skin="primary" title="下次自动登录" />
        <a href="/user/forgot_password.html">忘记密码？</a>
    </div></div>
    <div class="layui-form-item"><div class="layui-input-block">
        <input type="button" value="登录" id="btnLogin" class="layui-btn" />
        <a class="layui-btn layui-btn-primary" href="/user/register.html">注册</a>
    </div></div>
    <div class="layui-form-item"><div class="layui-input-block"><span id="loginError"></span></div></div>
</form>
<div th:replace="mobile/common/footer :: footer"></div>
<div th:replace="mobile/common/js :: js"></div>
<script type="text/javascript" src="/javascript/user.js"></script>
<script type="text/javascript">AuthPage.initLogin();</script>
</body>
</html>
